<footer class="footer">

    <div class="container">

        <div class="footer-socials">

            <a href="https://sl1nk.com/a1n662l"
               target="_blank"
               title="YouTube">
                @* <i class="bi bi-youtube"></i> *@
                YouTube
            </a>

            <a href="https://github.com/RapsLepeli"
               target="_blank"
               title="GitHub">
                @* <i class="bi bi-github"></i> *@
                GitHub
            </a>

            <a href="https://www.linkedin.com/in/rapelang-lepeli/"
               target="_blank"
               title="LinkedIn">
                @* <i class="bi bi-linkedin"></i> *@
                LinkedIn
            </a>

            <a href="https://www.instagram.com/rapslepeli/?hl=en"
               target="_blank"
               title="Instagram">
                @* <i class="bi bi-instagram"></i> *@Instagram
            </a>

            <a href="https://www.facebook.com/profile.php?id=61576265004093"
               target="_blank"
               title="Facebook">
                @* <i class="bi bi-facebook"></i> *@Facebook
            </a>

            <a href="mailto:rapelang.lepeli2000@gmail.com"
               title="Email">
                @* <i class="bi bi-envelope-fill"></i> *@Email
            </a>

        </div>

    </div>

    <div class="footer-bottom">

        © @DateTime.Now.Year Raps Lepeli

        <span>•</span>

        Built with ❤️ using Blazor & .NET

    </div>

</footer>