.navbar{

    position:sticky;

    top:0;

    z-index:1000;

    backdrop-filter:blur(15px);

    background:rgba(8,13,24,.95);

    border-bottom:1px solid var(--border);

}

.nav-container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:80px;

}

.logo{

    font-size:1.6rem;

    font-weight:800;

    text-decoration:none;

    color:white;

}

.logo span{

    color:var(--primary);

}

.nav-links{

    display:flex;

    gap:2rem;

}

.nav-links a{

    color:white;

    text-decoration:none;

    font-weight:600;

    transition:.3s;

}

.nav-links a:hover{

    color:var(--primary);

}

.menu-button{

    display:none;

    background:none;

    border:none;

    color:white;

    font-size:2rem;

    cursor:pointer;

}
