@page "/"

<PageTitle>Home</PageTitle>

<section class="hero">

    <div class="hero-content">

        <p class="hero-tag">
            👋 Hi, I'm
        </p>

        <h1>
            Raps Lepeli
        </h1>

        <h2>
            Full Stack .NET Developer • Cloud Engineer • AI Enthusiast
        </h2>

        <p class="hero-description">
            I build modern, scalable applications using C#, ASP.NET Core,
            Blazor, Angular, SQL Server and Microsoft Azure.
            My passion is transforming business challenges into
            efficient software while exploring the latest innovations in AI
            and cloud technologies.
        </p>

        <div class="hero-buttons">
<a href="files/Rapelang-Lepeli-CV.pdf"
   download="Rapelang-Lepeli-CV.pdf"
   class="btn-primary">
    Download CV
</a>

            <a class="btn-secondary"
               href="/projects">

                View Projects

            </a>

        </div>

        <div class="tech-stack">

            <span>C#</span>
            <span>.NET</span>
            <span>Blazor</span>
            <span>Azure</span>
            <span>MongoDb</span>
            <span>Angular</span>
            <span>SQL Server</span>

        </div>

    </div>

</section>