:root{

    --background:#0B1120;

    --surface:#111827;

    --card:#1F2937;

    --primary:#2563EB;

    --secondary:#38BDF8;

    --text:#F8FAFC;

    --muted:#94A3B8;

    --border:#374151;

    --success:#22C55E;

    --radius:18px;

    --container:1280px;

}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Inter',sans-serif;

    background:var(--background);

    color:var(--text);

}

a{

    text-decoration:none;

    color:inherit;

}

img{

    max-width:100%;

}

.container{

    width:min(95%,var(--container));

    margin:auto;

}