*{
    margin:0;
    padding: 0;
    border:none;
    font-family: NavBarFont;
   
}
body{
  background-color: #26282B;
  color: #C7BEA2;
}

.content{
  border-radius: 5px;
  padding-left:2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

a{
  text-decoration: none;
  color: 
  #47555E;
 
}
a:hover{
  color: #90B8F8;
  transition-delay: 0.09s;
  transition-timing-function: ease-in;
}
.content, .socials {
  margin:auto;
  width: 85%;
  text-align: center;
  
}
.alert {
  margin:auto;
  text-align: center;
  color: red;
  font-size: 40px;
  padding-bottom: 30px;
}
.alert:hover{
  color: yellow;
}

.intro_heading,h1{
  text-align: center;
  font-size: 55px;
  margin: 25px 15px;
  text-decoration: underline;
}
h2{
  font-size: 35px;
  text-decoration: underline;
}
.intro_par,p{
  font-size: 24px;
  margin: 20px 15px;
 
}
h2#welcome{
  margin-bottom: 30px;
}
li{
  list-style: none;
  font-size: 24px;
}
.socials a{
  margin: 33px 33px;
  color: black;
  font-size: 30px;
  padding-left:5px ;
  padding-right: 5px;
 
}
.fa{
  color: #5F85DB;
}
.fa:hover {
  transition-delay: 0.09s;
  transition-timing-function: ease-in;
  opacity: 0.7;
  color: #90B8F8;
 
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  background-color: #C7BEA2;;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.footer a{
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  color: #131617;
  font-size: 30px;
}

.footer a:hover{
  color: grey;
}


@media screen and (max-width: 550px) {
  .intro_heading{
    font-size: 40px;
  }
  .intro_par{
    font-size: 18px;
  }
  .intro_footer{
    font-size: 27px;
  }

}
@media screen and (max-width: 425px) {
  .intro_heading, h1{
    font-size: 30px;
  }
  .intro_par, p{
    font-size: 16px;
  }
  .intro_footer{
    font-size: 24px;
  }
  th {
    font-size: 16px;
  }
  td{
    text-align: left;
    font-size: 11px;
  }

}
@media screen and (max-width: 350px) {
  .intro_heading, h1{
    font-size: 20px;
  }
  .intro_par, h1{
    font-size: 14px;
  }
  .intro_footer{
    font-size: 21px;
  }
  th {
    font-size: 9px;
  }
  td{
    text-align: left;
    font-size: 7px;
  }
}
@media screen and (min-height:1200px) {
  .body{
    background-color: red;
  }
}

@font-face {
  font-family: NavBarFont;
  src: url("../fonts/Dosis-SemiBold.ttf");
}
.github a{
  text-align: center;
  padding: 25px 20px;
  text-decoration: red;

}

table  {
  border: 5px solid grey;
  border-radius: 2px;
}
table{
  width: 100%; 
}
th {
  font-size: 30px;
  columns: 1;
}
th#top-border{
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}
td{
  text-align: left;
  font-size: 20px;
}

td#center{
  text-align: center;
}
tr#record:hover {
  background-color: #47555E;
}
tr#record:nth-child(even){
  background-color: #47555E;
}

div#ventures{
  padding-top: 10px;
  padding-bottom: 20px;
}


ul#ventures-lists li{
  text-align: left;
  justify-content: left;
  margin-left:30px ;
  list-style:disc;
}

.card{
  box-shadow: 0 4px 8px 0 #90B8F8;
  max-width: 400px;
  text-align: center;
  margin: 12px;
}
.language{
  color: grey;
  font-size:20px;
}
.card button{
  border: none;
  outline: 0;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  width:100%;
  font-size: 18px;

}
.card button:hover{
  opacity: 0.7;
}

div#cards-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
h3{
  font-size: 30px;
  text-decoration: underline;
}
button#btnRepos{
  background-color: red;
  font-size: 30px;
}
div .card a{
  font-size: 30px;
}