*{
    margin:0;
    padding: 0;
    border:none;
    font-family: NavBarFont;
   
}
.content{
  background-color: #eee;
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}


a{
  text-decoration: none;
  color: grey;
}
a:hover{
  color: turquoise;
}
.content, .socials {
  margin:auto;
  width: 70%;
  text-align: center;
}
.alert {
  margin:auto;
  text-align: center;
  color: red;
  padding-top: 30px;
}

.intro_heading{
  text-align: center;
  font-size: 65px;
  margin: 25px 15px;
}
h2{
  font-size: 45px;
}
.intro_par{
  font-size: 28px;
  margin: 20px 15px;
}
li{
  list-style: none;
}
.socials a{
  margin: 30px 30px;
  color: black;
  font-size: 40px;
}
.fa:hover {
  opacity: 0.7;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
 
  color: black;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.footer a{
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 10px;
  color: #131617;
  font-size: 40px;
}

.footer a:hover{
  color: grey;
}
@media screen and (max-width: 550px) {
  .intro_heading{
    font-size: 40px;
  }
  .intro_par{
    font-size: 18px;
  }
  .intro_footer{
    font-size: 27px;
  }

}
@media screen and (max-width: 425px) {
  .intro_heading{
    font-size: 30px;
  }
  .intro_par{
    font-size: 16px;
  }
  .intro_footer{
    font-size: 24px;
  }
}
@media screen and (max-width: 350px) {
  .intro_heading{
    font-size: 20px;
  }
  .intro_par{
    font-size: 14px;
  }
  .intro_footer{
    font-size: 21px;
  }
}

@font-face {
  font-family: NavBarFont;
  src: url("../fonts/Dosis-SemiBold.ttf");
}
.github a{
  text-align: center;
  padding: 25px 20px;
  text-decoration: red;
}
table, th  {
  border: 1px solid black;
}